body {
  background-color: #282c34;

}
header>p {
  position: absolute;
    left: 237px;
    top: 57px;
}

.App {
  /* text-align: center; */
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: rgb(233, 233, 233);
}

.App-link {
  color: #61dafb;
}

.Feature-parent {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;
  background-color: #282c34;
  justify-content: space-around;
  align-items: flex-start;
}

.Feature-child {
  width: 380px;
  background-color: rgb(233, 233, 233);
  margin:2px 2px 20px 2px;
  padding:4px 30px 30px 30px;
  align-self: flex-start;
}

code.stack {
  background-color: rgb(207, 204, 178)
}