body {
  background-color: #282c34;

}
header>p {
  position: absolute;
    left: 237px;
    top: 57px;
}

.App {
  /* text-align: center; */
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: left; */
  font-size: calc(10px + 2vmin);
  color: rgb(233, 233, 233);
}

.App-link {
  color: #61dafb;
}

.Feature-parent {
  
  display: flex;
  flex-flow: row wrap;
  /* align-content: flex-start; */
  height: 100%;
  background-color: #282c34;
  justify-content: flex-start;
  /* align-items: flex-start;  */
  
/*   
  display: flex;
  flex-flow: column wrap;
  height: 150vh;
  background-color: #282c34;
  align-items: flex-start; 
  margin-left: 4ch;
  */
}

.Feature-child {
  width: 380px;
  background-color: rgb(233, 233, 233);
  margin:2px 2px 20px 2px;
  padding:4px 30px 30px 30px;
  align-self: flex-start;
}

.double-wide {
  width: 826px;
}

code.stack {
  background-color: rgb(207, 204, 178);
}

.pounceCat-input {
  font-family: 'Courier New', monospace;
  font-size: 16px;
    padding: 2px 2px 2px 8px;
    border:none;
    background-color: rgb(176, 216, 218); 
    width: 95%;
    max-width: 95%;
    min-width: 95%;
  }
