body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-color: rgb(176 200 255);
}

body{
  margin: 0;
}
.app{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2px;
}
.tabs__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 0;
  border-top: 1px solid #EFF4FB;
  padding: 0;
}
.tab {
  font-size: 20px;
  text-align: center;
  color: aliceblue;
  display: block;
  flex: 1;
}
